.showcase-section {
    width: 100%;
    height: auto;
  }
  
  .showcase-section h1 {
    color: #071d49;
    font-size: 2.75em;
    text-align: center;
  }
  
  /* Section Blocks */
  
  .cases {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-case {
    width: 85%;
    height: auto;
  }
  
  .bg-block {
    background: linear-gradient(
      241.82deg,
      #1a4da0 0%,
      #00063c 71.88%,
      #071d49 100%
    );
    width: 75%;
    height: 37vh;
    position: absolute;
    float: left;
  }
  
  /* .bg-image {
    width: 95%;
    height: 50vh;
    background-image: url(../assets/images/showcase/Rectangle-10.png);
    float: right;
    z-index: 1;
    position: relative;
    top: 46px;
    right: 2px;
  } */


  .bg-image::before {
    background-image: url(../assets/images/showcase/Rectangle-10.png);
    background-repeat: no-repeat;

  }

  .bg-image {
    width: 78%;
    background-image: url(../assets/images/showcase/Rectangle-10.png);
    float: right;
    z-index: 1;
    position: absolute;
    padding: 40px 40px;
    margin: 53px 50px;
  }

  
  .text-box {
    background: #fff;
    width: 201px;
    margin: 0 12px;
    opacity: 0.7;
    right: 0px;
    float: right;
    text-align: center;
    padding: 7px 2px 32px;
  }

  .text-box p {
    margin: 0 21px;
    font-size: 12px;
  }
  